@import '_functions';
@import 'materialize/components/color';
@import 'colors';
@import 'materialize';

@import 'header';
@import 'games';

html {
  font-family: 'Open Sans', sans-serif;
  background-color: $dark-1;
  color: white;
  padding: 1rem;
}

#root {
  font-size: 16px;
  display: flex;
  justify-content: center;
  #root-react-component {
    max-width: 800px;
    width: 100%;
  }
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal {
  background-color: hsl(0,0%,22%);
  .modal-footer {
    background-color: hsl(0,0%,22%);
  }
}

form {
  [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: $primary-color;
  }
  .input-field label {
    display: block;
  }
}
