@import '_functions';
@import "materialize/components/color";
@import 'colors';
@import 'materialize';
@import 'games';

#root {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

html {
  background-color: $dark-1;
  color: white;
}

h1 {
 color: $primary-color;
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal {

  background-color: hsl(0,0%,22%);
  .modal-footer {
    background-color: hsl(0,0%,22%);
  }
}

form {
  [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: $primary-color;
  }
}
