<div class='nav-wrapper' id='header'>
  <%= link_to root_url, class: 'brand-logo center', id: 'logo' do %>
    Hurricane Chess
  <% end %>

  <a href="#" data-activates="mobile-demo" class="button-collapse">
    <i class="material-icons">menu</i>
  </a>

  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="#">?</a></li>
  </ul>

  <ul class="side-nav" id="mobile-demo">
    <li><a href="#">?</a></li>
  </ul>
</div>
